:root {
  --root-font-size: 1rem;
  --root-font-large: 3.2rem;
  --black: #0b090a;
  --white: #fff;
  --grey: #d3d3d3;
  --red: #a4161a;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--root-font-size);
  user-select: none;
}

.debug {
  border: 1px solid red;
}

a {
  text-decoration: none;
  font-size: var(--root-font-size);
}

.main {
  width: 100%;
}

.introduction {
  height: 100vh;
}

.nav-header {
  height: 6.25rem;
  width: 100%;
  display: flex;
}

.nav-list-wrapper {
  height: 4.4rem;
  width: 70vw;
  margin-inline: auto;
  border-radius: 35px;
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
  align-items: center;
  background-color: var(--black);
  list-style: none;
}

.nav-list {
  height: 60px;
  width: 130px;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
}

.nav-list > a {
  display: block;
  height: 60px;
  width: 130px;
  padding: calc(30px - var(--root-font-size) / 2) 24px;
  color: var(--white);
}

.nav-list:active, .nav-list:hover {
  background-color: var(--red);
}

.nav-list:active > a, .nav-list:hover > a {
  color: var(--white);
}

.intro-wrapper {
  position: relative;
  height: calc(100vh - 6.25rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
}

.intro-title-wrapper {
  margin: 3.6rem auto;
  align-self: center;
}

.intro-title {
  margin-bottom: 8px;
  font-size: var(--root-font-large);
  text-align: center;
}

.intro-img-outer-wrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  z-index: -2;
}

.intro-img-inner-wrapper {
  position: relative;
  height: 75vh;
}

.intro-image {
  display: block;
  height: 100%;
  min-width: min(80%, 350px);
  max-width: min(25rem, 500px);
  margin-inline: auto;
  margin-bottom: 0;
  z-index: 1;
}

.intro-semicircle-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 50rem;
  width: 50rem;
  border-radius: 50%;
  background-color: var(--red);
  opacity: 0.8;
  z-index: -1;
  overflow: hidden;
}

.intro-btn-download {
  display: block;
  height: 3.2rem;
  width: 12rem;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: 1.2rem;
  align-self: center;
  background-color: var(--red);
  color: var(--white);
  font-size: var(--root-font-size);
  border-color: var(--white);
  border-style: solid;
  outline: none;
  cursor: pointer;
  z-index: 2;
}

.btn-download:active {
  z-index: 2;
  transform: scale(0.95);
}

.about {
  height: 100vh;
  background: var(--grey);
  border-radius: 2.5rem;
}

.portfolio {
  height: 100vh;
  background: green;
}

.contact {
  height: 100vh;
  background: black;
}
